
<div class="container">
    <h1> Thank you for your review. Hope to see you soon. </h1>
    <div style="padding:50px 0px"></div>
    <p> <a href="/" class="btn btn-primary"> Back to our Hotels </a> </p>
</div>