<h1>Leave your opinion on <%= @event[:title] %></h1>

<h3 style="padding:10px 0px">How was your stay?</h3>

<form action="/events/<%= @event[:id] %>/rsvps/create" method="POST" class="mt-5">

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Please give us your rating
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <span class="caret"></span></button>
    <li>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="going" value="1">
        <label class="form-check-label"><i class="fas fa-star"></i></label>
        </div>
    </li>
    <li>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="going" value="2">
        <label class="form-check-label"><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </div>
    </li>
    <li>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="going" value="3">
        <label class="form-check-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </div>
    </li>
    <li>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="going" value="4">
        <label class="form-check-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </div>
    </li>
    <li>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="going" value="5">
        <label class="form-check-label"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </div>
    </li>

  </div>
</div>


  <div style="padding: 15px 0px"class="form-group">
    <label>Comments</label>
    <textarea class="form-control" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>